.searchContainer {
    flex: 1;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #ffBBDD
  }

.searchInnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%
}

.searchSaveButton {
    display: flex;
    position: relative;
    bottom: 30%;
    background-color: white;
    padding: 10;
    border-radius: 10px;
    border-color: pink;
    border-width: 1px;
    height: 30%;
    width: 30%;
    align-items: center;
    justify-content: center

  }

.searchBtn {
    display: flex;
    height: 50%;
    width: 30%;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-color: white;
    border-width: 1px;
}

.backBtn {
    position: absolute;
    top: 5%;
    left: 5%;
  }