.swiperContainer {
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    position: absolute;
    right: 30vw;
    top: 6.5vw
}

.SweetSwiper {
    width: 40%; 
    height: 40%;
    background: transparent; 
    margin-left: 35%
}

.swiperButtonContainer {
    margin-left: 10%;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.swiperButton {
    height: 2vw;
    width: 2vw;
    font-size: 1vw; 
    border-radius: 1vw;
    align-items: center;
    justify-content: center;
    background-color: pink;
    border-color: white;
    color: white;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0
}

@media screen and (max-width: 500px) {
    .swiperContainer {
        top: 6.5vw;
        right: 4.8vw
    }

    .swiperButton {
        height: 3.5vw;
        width: 3.5vw;
        font-size: 1.5vw;
        border-radius: 1.75vw
    }
    
}    